@model RidePal.WEB.Models.LoginViewModel
<div class="ms_register_img">
    <img src="~/Images/register_img.png" alt="" class="img-fluid" />
</div>
<div class="ms_register_form">
    <h2>Sign in</h2>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.Credential)
        <input id="email" asp-for="Credential" type="text" placeholder="Enter Your Email" class="form-control">
        <span class="form_icon">
            <i class="fa_icon form-envelope" aria-hidden="true"></i>
        </span>
    </div>
    <div class="form-group">
        <input id="password" asp-for=Password type="password" placeholder="Enter Password" class="form-control">
        <span class="form_icon">
            <i class="fa_icon form-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="remember_checkbox">
        <label>
            Keep me signed in
            <input id="rememberMe" asp-for=RememberMe type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <input id="login" type="submit" class="ms_btn" value="Sign In">    
                        <div class="popup_forgot">
                            <a asp-controller="Auth" asp-action="LoginWithGoogle" >Sign in with Google</a>
                        </div>
                        <div class="popup_forgot">
                            <a asp-controller="Auth" asp-action="ForgotPassword">Forgot Password</a>
                        </div>
                        <div class="popup_forgot">
                            <a asp-controller="Auth" asp-action="ConfirmEmail" class="google">Resend Email Confirmation</a>
                        </div>
                        <p>Don't Have An Account? <a href="#myModal" data-toggle="modal" class="ms_modal1 hideCurrentModel">register here</a></p>
</div>
