@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <h4>
        <strong class="text-danger">Message:</strong> <code class="text-danger">@Model.RequestId</code>
    </h4>
}
