@using RidePal.Web.Models;
@model UpdateUserViewModel
<html>
<!-- Css Styles -->
<link href="/css/profile.css" rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<link rel="stylesheet" href="~/css/elegant-icons.css">
<body>
    <section class="anime-details spad">
        <div class="container bootstrap snippets bootdey">
            <hr>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="~/Images/@Model.ImagePath" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>
                    <div class="text-center">
                        <a asp-route-email="@Model.Email" asp-action="Delete" asp-controller="User" class="btn btn-primary" type="submit" style="background-color: #e53637; border: none; margin-top: 25px;">Delete Profile</a>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">

                    <form asp-action="Update" asp-controller="User" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for=ImagePath class="col-lg-3 control-label">Profile Picture:</label>
                            <div class="col-lg-8">
                                <input asp-for=File type="file" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for=FirstName class="col-lg-3 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input asp-for=FirstName class="form-control" type="text">
                                <span asp-validation-for=FirstName class="form-erorr"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for=LastName class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input asp-for=LastName class="form-control" type="text">
                                <span asp-validation-for=LastName class="form-erorr"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for=Email class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input asp-for=Email class="form-control" type="text">
                                <span asp-validation-for=Email class="form-erorr"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for=Password class="col-lg-3 control-label">Password:</label>
                            <div class="col-lg-8">
                                <input asp-for=Password class="form-control" type="password">
                                <span asp-validation-for=Password class="form-erorr"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for=ConfirmPassword class="col-lg-3 control-label">Confirm Password:</label>
                            <div class="col-lg-8">
                                <input asp-for=ConfirmPassword class="form-control" type="password">
                                <span asp-validation-for=ConfirmPassword class="form-erorr"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <input class="btn btn-primary" type="submit" value="Update Profile" style="background-color: #e53637; border: none;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>

         function getIp(callback) {
     fetch('https://ipinfo.io/json?token=<your token>', { headers: { 'Accept': 'application/json' }})
       .then((resp) => resp.json())
       .catch(() => {
         return {
           country: 'us',
         };
       })
       .then((resp) => callback(resp.country));
    }



       const phoneInputField = document.querySelector("#phone");
       const phoneInput = window.intlTelInput(phoneInputField, {
     initialCountry: "bg",
     geoIpLookup: getIp,
     utilsScript:
       "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
       const info = document.querySelector(".alert-info");

    function process(event) {
     event.preventDefault();

     const phoneNumber = phoneInput.getNumber();

     info.style.display = "";
     info.innerHTML = `Phone number in E.164 format: <strong>${phoneNumber}</strong>`;
    }
</script>
</html>