@using RidePal.Web.Models;
@model UpdateUserViewModel
<html>
<!-- Css Styles -->

<body>
    <!----Edit Profile Wrapper Start---->
    <form asp-action="Update" asp-controller="User">
        <div class="ms_profile_wrapper">
            <h1>Edit Profile</h1>
            <div class="ms_profile_box">
                <div class="ms_pro_img">
                    <img src="@Model.ImagePath" alt="avatar" class="img-fluid">
                </div>
                <div class="ms_pro_form">                                                         
                    <div class="form-group">
                        <dl>
                            <label asp-for=ImagePath>Upload Image</label>
                            <dd>
                                <input type="file" name="file" id="file" class="form-control">
                            </dd>
                        </dl>
                    </div>
                     <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="text" class="form-control">
                        <span asp-validation-for=Email class="form-erorr"></span>
                    </div>  
                    <div class="form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" type="text" class="form-control">
                        <span asp-validation-for=FirstName class="form-erorr"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" type="text" class="form-control">
                        <span asp-validation-for=LastName class="form-erorr"></span>
                    </div>
                    @if (this.User.Identity.Name == Model.Email)
                    {
                        <div class="form-group">
                            <label asp-for=Password>New Password</label>
                            <input asp-for=Password type="password" class="form-control">
                            <span asp-validation-for=Password class="form-erorr"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for=ConfirmPassword>Confirm Password </label>
                            <input asp-for=ConfirmPassword type="password" class="form-control">
                            <span asp-validation-for=ConfirmPassword class="form-erorr"></span>
                        </div>

                    }
                    <div class="pro-form-btn text-center marger_top15">
                        <input  class="ms_btn"  type="submit" value="Save" style="border:none">
                        <a asp-route-email="@Model.Email" asp-action="Delete" asp-controller="User" class="ms_btn" style="border:none padding: 1px 6px;">Delete</a>                  
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


</html>