@using RidePal.WEB.Models;

@model UpdatePlaylistViewModel

<html>
<!-- Css Styles -->

<body>
    <!----Edit Profile Wrapper Start---->
    <form asp-action="EditPlaylist" asp-controller="Playlist">
        <div class="ms_profile_wrapper">
            <h1>Edit Playlist</h1>
            <div class="ms_profile_box">
                <div class="ms_pro_img">
                    <img src="@Model.ImagePath" alt="avatar" class="img-fluid">
                </div>
                <div class="ms_pro_form">
                    <div class="form-group">
                        <label asp-for="Name">Title</label>
                        <input asp-for="Name" type="text" class="form-control">
                        <span asp-validation-for=Name class="form-erorr"></span>
                    </div>
                    <div class="form-group">
                        <label>Choose an audience:</label>
                        <select asp-for="AudienceId" asp-items="@ViewBag.Audiences">
                        </select>
                    </div>
                    @Html.HiddenFor(x=>x.Id)
                    <div class="pro-form-btn text-center marger_top15">
                        <input class="ms_btn" type="submit" value="Save" style="border:none">
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

