@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<html>

<div class="ms_footer_wrapper">
    
    <div class="ms_footer_inner" >
                <div class="footer_box" >
                    <h1 class="footer_title">RidePal</h1>
            <center>
                <p style="font-size:15px">
                    Ride Pal is not just a music player, it is your best friend who is next to you through your journeys! With Ride Pal
                    You can choose from where to where you want to go, what music to listen to, how much of this music you want to include
                    in the playlist and the rest of the work, you can leave it to us. Based on your decisions, we are generating the PERFECT
                    playlist for your trip from start to end, entertain you for all the trip duration without interruptions.
                    </p>
                </center>
                </div>
        <div class="row">
           
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_contacts" >
                    <h1 class="footer_title">Creating Playlist Feautures</h1>
                    <ul class="foo_con_info">
                        <li>
                            
                            <div class="foo_con_data">
                                <span class="con-title">- Choose your trip points.</span>
                            </div>
                        </li>
                        <li>                            
                            <div class="foo_con_data">
                                <span class="con-title">- Repeat artists and use Top songs.</span>
                            </div>
                        </li>
                        <li>
                              <div class="foo_con_data">
                                <span class="con-title">- Choose your audience, who can see your playlist.</span>
                                
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- Choose your favourite genres and split them by percentage.</span>

                            </div>
                        </li>
                    </ul>
                    <
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_contacts">
                    <h1 class="footer_title">User Feautures</h1>
                    <ul class="foo_con_info">
                        <li>

                            <div class="foo_con_data">
                                <span class="con-title">- Easy Login with Google.</span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- Send and receive friend requests.</span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- See all the public playlists and play them.</span>

                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- Manage your profile and playlists.</span>

                            </div>
                        </li>
                    </ul>
                    <
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_contacts">
                    <h1 class="footer_title">User experience</h1>
                    <ul class="foo_con_info">
                        <li>

                            <div class="foo_con_data">
                                <span class="con-title">- Search for results in all categories.</span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- View the Top artists.</span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- Look at all of the genres.</span>

                            </div>
                        </li>
                        <li>
                            <div class="foo_con_data">
                                <span class="con-title">- See the top tracks on the platform.</span>

                            </div>
                        </li>
                    </ul>
                    <
                </div>
            </div>
        </div>
    </div>
    <!----Copyright---->
    <div class="col-lg-12">
        <div class="ms_copyright">
            <div class="footer_border"></div>
            <p> <a href="https://gitlab.com/rado.berov.561/ridepal">Copyright &copy; 2022 Telerik Academy Team #1 RidePal</a></p>
        </div>
    </div>
</div>
