@model RidePal.Data.Models.Trip

<h4>Start point:@this.Model.StartPoint </h4>
<h4>Destionation:@this.Model.Destination </h4>
<h4>Distance:@this.Model.Distance km.</h4>
<h4>Duration:@this.Model.Duration min.</h4>