@model RidePal.Web.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<html>
<head>

    <link rel="stylesheet" href="~/css/elegant-icons.css">
     <title>MovieForum | ForgottenPassword</title>
</head>
<body>
    <center>
        <div class="row centered">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert" style="font-size: 20px; width: 50%; background-color:#e53637; border:none">
                    <p style="font-size: 22px; color:white">We have sent an email on your registered email address</p>
                </div>
            }
            else
            {

                <p style="color:white; padding-top: 100px; font-size: 20px;">Forgot your password? No worries, you can reset it easily!</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label" style="font-size: 20px;"> Registered Email</label>
                        <input asp-for="Email" class="form-control" style="margin: 20px 0; width:50%; max-width: 50%" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" style="background-color:#e53637; border:none " />
                    </div>
                </form>
            }
        </div>
    </center>
</body>
</html>